* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* border: #030915 solid 1px; */
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url("Img/library.jpg");
    background-size: cover;
    background-position: center;
}



.all-container {
    width: 550px;
}

.headline-div {
    font-size: 1.2rem;
    background-color: #030915;
    color: #fff;
    padding: 5px 20px;
    width: 80%;
    margin: 20px auto;
    border: solid #0e5ba476 3px;
    border-radius: 0.5rem;
}

.headline-div h2 {
    font-weight: 300;
}

.quote-all {
    width: 100%;
    background-color: aliceblue;
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.4rem 0.2rem #0E5CA4;
}

.quote-div p {
    font-weight: 300;
    font-size: 1.6rem;
    padding-top: 0.5rem;
}

.person-div p {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 300;
    color: #0E5CA4;
    margin-top: 0.5rem;
}

.button {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: #030915;
    color: #fff;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.button:hover {
    opacity: 95%;
    cursor: pointer;
}

.style-unactive {
    background-color: #03091523;
    border: none;
    font-size: 0.9rem;
    padding: 0.25rem 0rem;
    width: 22%;
    border-radius: 0.5rem;
}

.style-unactive:hover {
    background-color: #0309153c;
    cursor: pointer;
}

.style-active {
    background-color: #03091562;
}

.style-active:hover {
    cursor: pointer;
    background-color: #0309154e;
}

.note {
    padding: 0rem;
    font-size: 1rem;
    opacity: 80%;
}

.note-none {
    display: none;
}

@keyframes tremble {
    0% { transform: translateX(0); }
    10% { transform: translateX(-10px); }
    20% { transform: translateX(10px); }
    30% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    50% { transform: translateX(-10px); }
    60% { transform: translateX(10px); }
    70% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    90% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
    
}

.tremble {
    animation: tremble 1s ease-in-out;
}

@media (max-width: 640px) {
    .all-container {
        width: 90%; /* Adjusts width to prevent overflow */
    }
    .quote-all {
        padding: 1rem 1.5rem; /* Reduces padding for smaller screen space */
    }
    .style-unactive {
        background-color: #03091523;
        border: none;
        font-size: 0.9rem;
        padding: 0.25rem 0rem;
        width: 35%;
        border-radius: 0.5rem;
    }
}
